html {
    height: 100%;
}

body {
    color: #FFFFFF;
    height: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    /* For browsers that do not support gradients */
    background: #F05138;
    background: linear-gradient(orange, #F05138, red);
}

.shadow {
    box-shadow: 0px 1px 2px 1px #888888;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input {
    border: none;
    resize: none;
    background-color: #282C34;
    color: #A4ABB7;
    font-size: 14pt;
    font-family: courier;
    padding-left: 33px !important;
}

input:focus {
    outline: none;
}

#main_area {
    border: none;
    resize: none;
    padding: 0px;
}

button {
    background-color: #FF7800;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    /* Safari */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 16pt;
}

button:hover {
    background-color: #FFFFFF;
    color: #FF7800;
    cursor: pointer;
}

button:focus {
    outline: none;
}

/*bootstrap overloads*/

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.row {
    margin-top: 20px;
}

footer {
    font-size: 10px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 20px;
}

footer > a {
    color: inherit;
}

footer > a:hover {
    color: inherit;
}
